@import "tailwindcss";

/* ===== Custom Scrollbar ===== */

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #22c55e #020617;
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #020617; /* slate-950 */
}

::-webkit-scrollbar-thumb {
  background-color: #22c55e; /* emerald-500 */
  border-radius: 999px;
  border: 2px solid #020617;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #4ade80; /* emerald-400 */
}
